# Environment: development | production
NODE_ENV=development

# API server location dev http://127.0.0.1:8000
API_URL=http://ton-domaine.com
API_VERSION=v1

# Sentry
SENTRY_DSN=https://xxxxxx@xxxxxxxx.ingest.de.sentry.io/xxxxxx
