.button-ghost {
    width: 100%;
    height: 50%;
    background: transparent;
    border: 2px solid var(--btn-ghost-color);
    color: var(--btn-ghost-color);
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
    opacity: 1;
}

.button-ghost:hover {
    background: var(--btn-ghost-color);
    color: white;
}

.button-ghost.top {
    border-bottom: 1px solid var(--btn-ghost-color);
}

.button-ghost.bottom {
    border-top: 1px solid var(--btn-ghost-color);
}

.button-ghost:disabled {
    cursor: default;
}

.button-ghost.icon {
    padding: 10px;
    width: 25%;
    height: 100%;
    font-size: 1.2em;
}

.button-ghost.red {
    --btn-ghost-color: var(--corail-600);
}

.button-ghost.center {
    height: 100%;
    width: 25%;
}

.button-ghost.gray {
    --btn-ghost-color: var(--gray);
    opacity: 0.3;
    pointer-events: none;
}

.button-ghost.teal {
    --btn-ghost-color: var(--teal);
}

.button-ghost.black {
    --btn-ghost-color: black;
}
