.button-flat {
    background: var(--teal);
    padding: var(--padding-y) var(--padding-x);
    font-size: var(--scale-font);
    font-weight: 800;
    color: white;
    text-decoration: none;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 8px 8px 0px rgba(27, 67, 50, 0.2);
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
    border: none;
    letter-spacing: 0.03em;
}

.button-flat:not(:disabled):hover {
    transform: translate(-2px, -2px);
    box-shadow: 12px 12px 0px rgba(27, 67, 50, 0.1);
    filter: brightness(1.1);
}

.button-hero {
    --padding-y: 22px;
    --padding-x: 50px;
    --scale-font: 1.2rem;
}

.button-form {
    --padding-y: 22px;
    --padding-x: 50px;
    --scale-font: 1.2rem;
    margin-top: 20px;
    width: 100%;
}

.button-start-deck {
    --padding-y: 16px;
    --padding-x: 60px;
    --scale-font: 1.2rem;
}

.button-start-deck.gray {
    background: var(--gray);
    cursor: default;
}

.button-start-deck.Beginner {
    background : var(--level-beginner);
}

.button-start-deck.Intermediate {
    background : var(--level-intermediate);
}

.button-start-deck.Advanced {
    background : var(--level-advanced);
}

.button-back {
    --padding-y: 14px;
    --padding-x: 40px;
    --scale-font: 1rem;
}

.button-modal {
    --padding-y: 16px;
    --padding-x: 40px;
    --scale-font: 1rem;
}

.button-modal.red {
    background: var(--corail);
}

.button-modal.green {
    background: var(--teal);
}

.button-result-restart, .button-result-back{
    --padding-y: 16px;
    --padding-x: 40px;
    --scale-font: 1rem;
}

.button-result-restart.gray {
    background: var(--gray);
    cursor: default;
}

@media (max-width: 1280px) {
    .button-hero {
        --padding-y: 16px;
        --scale-font: 1rem;
    }

    .button-modal{
        --padding-y: 12px;
        --padding-x: 30px;
        --scale-font: 0.8rem;
    }
}

@media (max-width: 619px) {
    .button-back {
        --padding-y: 14px;
        --padding-x: 30px;
        --scale-font: 0.8rem;
    }
}


@media (max-width: 500px) {
    .button-back {
        --padding-x: 15px;
    }
}