/* .component-card {
    text-align: center;
    width: 250px;
    height: 375px;
    background: linear-gradient(to bottom right, #ffffff, #f8f7f5); 
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    padding-top: 5px;
    box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.6);
} */


/* .component-shadow {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 300px;
    height: 450px;
    padding: 10px;
    margin: 10px;
    background: rgba(0, 0, 0, 0.4);
    filter: blur(3px);
    border-radius: 10px;
    z-index: 0;
    transform-style: preserve-3d;
} */

.component-card {
    font-size: 1.5rem;
    font-weight: 800;
    
    text-align: center;
    width: 250px;
    height: 375px;

    background: white;
    border-radius: 0px;
    padding: 10px;
    padding-top: 5px;
    box-shadow: 12px 12px 0px rgba(0,0,0,0.1);

    border: 3px solid var(--border-dark);
}

/*Section used for cards displayed in the quiz*/
/*Added a wrapper and a shadow so that the card 
and shadow are grouped together when it get flipped*/

.component-card.flip-card {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    position: relative; 

    width: 300px;
    height: 450px;

    transform-style: preserve-3d;
    box-shadow: none;
}

.component-wrapper {
    position: relative;
    display: inline-block;
    margin: 0% 5% 2% 5%;
}

.component-shadow {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 300px;
    height: 450px;
    padding: 10px;
    margin: 10px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    z-index: 0;
    transform-style: preserve-3d;
}



.component-wrapper
{
    transition : opacity 0.3s ease-in-out;
}

.component-wrapper.fade-out {
    opacity: 0;
}

 .component-wrapper.fade-in 
{
    opacity: 1;
}

.flip-card.flipped,
.component-shadow.flipped {
    transform: rotateY(180deg);
    transition: transform 0.8s, background-color 0.2s ease-in-out, border 0.2s ease-in-out; 
}

.flip-card.flipped.red {
    background: #ffcaca;
    border: 5px solid #C14300;
}

.flip-card.flipped.red,
.component-shadow.flipped.red {
    animation: shake 0.3s ease-in-out;
}

.flip-card.flipped.green {
    background: #ceffdd;
    border: 5px solid #0C8230;
}

.flip-card.flipped.green,
.component-shadow.flipped.green {
    animation: grow 0.3s ease-in-out;
}

@keyframes shake {
    0%, 100% { transform: translateX(0) rotateY(180deg); }
    25% { transform: translateX(-5px) rotateY(180deg); }
    50% { transform: translateX(5px) rotateY(180deg); }
    75% { transform: translateX(-5px) rotateY(180deg); }
}

@keyframes grow {
    0%, 100% { transform: scale(1) rotateY(180deg); }
    50% { transform: scale(1.1) rotateY(180deg); }
}

.card-answer,
.card-question {
    font-family: 'Noto Serif KR', serif;
    font-size: 1.8em;
    text-overflow: ellipsis;
    text-align: center; 
    word-break: break-word;
    margin: 5% 0;
}

.card-answer {
    font-family: 'Outfit', sans-serif;
    overflow: hidden;
    font-size: 1.9rem;
    font-weight: 300;
    color: var(--teal);
}

.card-front, .card-back  {
    display: flex; /* Enables flexbox */
    position: absolute; /* Ensures front and back overlap properly */
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */

    width: 100%; /* Match the container size */
    height: 100%; /* Match the container size */

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
    flex-direction: column;
}

/* Below the css is used in cards displayed outside of quiz */
.card-textarea-group,
.card-input-group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
}

.card-field {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #5c6d7a;
    outline: 0;
    font-size: 1.1rem;
    color: #000000;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    text-overflow: ellipsis;
}

.answer-field {
    resize: none;
    height: 220px;
    box-sizing: border-box;
    white-space: normal;
    text-overflow: ellipsis;
}

.card-field::placeholder {
    color: transparent;
}

.card-field:placeholder-shown~.card-label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.card-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 0.8rem;
    color: #5c6d7a;
}

.card-field:focus~.card-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 0.8rem;
    color: #7187C3;
    font-weight: 700;
}

.card-field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #5ab9d8, #7f3169);
    border-image-slice: 1;
}