.cards-edit-grid-container {
    display: flex;
    justify-content: center;
}

.cards-edit-grid {
    width: 65%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
} 

.cards-edit-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.cards-edit-header .center {
    width: 33%;
}

.cards-edit-header .left, .cards-edit-header .right {
    flex: 1;
}

.cards-edit-header .left {
    display: flex;
    justify-content: right;
}

.cards-edit-header .left a {
    padding-right: 5%;
}