.component-deck-edit {
    margin-bottom: 2%;
    gap : 10px;
}

.cards-edit-grid-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 0.5%;
}

.cards-edit-grid {
    column-gap: 20px;
    row-gap: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-items: center;
    align-items: center;
}

.cards-edit-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.cards-edit-header .center {
    width: 50%;
}

.cards-edit-header .left, .cards-edit-header .right {
    flex: 1;
}

.cards-edit-header .left {
    display: flex;
    justify-content: left;
}

.cards-edit-header .left a {
    padding-right: 10%;
}