.component-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
}

.footer-link a{
    font-weight: 400;
    font-size: 0.75rem;
    text-decoration: none;
    opacity: 0.6;
    transition: 0.3s;
    text-transform: uppercase;
}

.footer-link:hover a{ text-decoration: none; opacity: 1; }

@media (max-width: 960px) {
    .component-footer {
        gap: 10px;
    }

    .footer-links {
        gap: 10px;
    }

    .footer-link a{
        font-size: 0.6rem;
    }
}