.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hero-text {
    min-width: 350px;
}

.hero-text a {
    text-decoration: none;
}

.hero-demo {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}

.hero-text h1 {
    font-size: 5.5rem;
    font-weight: 800;
    line-height: 0.9;
    letter-spacing: -4px;
    margin-bottom: 5%;
    margin-top: 5%;
}

.highlight {
    color: var(--teal);
    font-family: 'Noto Serif KR', serif;
    font-style: italic;
    display: block;
}

.hero-text p {
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.6;
    color: var(--grey);
    max-width: 510px;
    margin-bottom: 4%;
}

/* --- FEATURES --- */
.features {
    margin-top: 4%;
    padding-top: 4%;
}

.feature-item {
    margin-bottom: 4%;
    display: flex;
    gap: 15px;
}

.feature-icon {
    font-size: 1.5rem;
    padding-top: 4px;

    /* Force une taille carrée pour éviter le saut au chargement */
    width: 1.5rem; 
    height: 1.5rem;
}

.feature-text h3 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
}

.feature-text p {
    margin: 5px 0 0 0;
    color: var(--grey);
    font-size: 1rem;
}

@media (max-width: 1760px) {
    .hero-demo {
        min-width: 250px;
    }

    .hero-text h1 {
        font-size: 4rem;
    }

    .hero-text p {
        font-size: 1rem;
    }

    .feature-text h3 {
        font-size: 1rem;
    }

    .feature-text p {
        font-size: 0.8rem;
    }

    .features {
        margin-top: 2%;
        padding-top: 2%;
    }

    .feature-item {
        margin-bottom: 2%;
        display: flex;
        gap: 15px;
    }
}

@media (max-width: 1280px) {
    .hero-demo {
        min-width: 270px;
    }

    .hero-demo {
        min-width: 250px;
    }

    .hero-text h1 {
        font-size: 3rem;
    }

    .hero-text p {
        font-size: 0.8rem;
    }

    .feature-text h3 {
        font-size: 0.8rem;
    }

    .feature-text p {
        font-size: 0.6rem;
    }
}

@media (max-width: 1100px) {
    .hero-demo {
        min-width: 250px;
    }

    .hero {
        justify-content: center;
        flex-wrap: nowrap;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .hero-text {
        margin-bottom: 4%;
    }
}

@media (max-width: 375px) {
    .hero-text {
        min-width: 250px;
    }
}