
@font-face {
  font-family: 'NanumGothic';
  src: url(../assets/fonts/NanumGothic-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

html 
{
    color:#000000;
    background: #f1eee6 ;
}

body 
{
    margin: 0px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    font-size: 1rem;
    overflow-x: hidden;
    font-family: 'NanumGothic', sans-serif;
}

input, textarea, button{
    font-family: 'NanumGothic', sans-serif;
}

.component-tts 
{
    display: none;
}

.component-app {
    display: flex;
    flex-direction: column;
}

a {
    color: #000000;
    transition: 0.2s;
}

a:hover {
    color: #1b86a9;
}

.error-message {
    color: #9B3200;
    white-space: pre-line;
}   

.page-title {
    text-align: center;
    font-size: 2rem;
}

.page-subtitle {
    font-style: italic;
    text-align: center;
}

.loading {
    opacity: 0.5;
    filter: blur(2px);
    pointer-events: none;
    transition: opacity 150ms ease, filter 150ms ease;
}