.component-input {
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
}

.input-group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
}

.input-field {
    width: 100%;
    border: 0;
    border-bottom: 2px solid;
    outline: 0;
    font-size: 1.2rem;
    color: #000000;
    opacity: 0.6;
    padding: 7px 0;
    background: transparent;
}

.input-field:not(:placeholder-shown) {
    opacity: 1;
    font-weight: 500;
}

.input-field::placeholder {
    color: transparent;
}

.input-field:placeholder-shown ~ .input-field-label {
    font-size: 1.2rem;
    cursor: text;
    top: 20px;
}

.input-field-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 0.8rem;
    color: #000000;
    opacity: 0.6;
}

.input-field:focus ~ .input-field-label {
    top: 0;
    font-size: 0.8rem;
    color: var(--teal);
    font-weight: 700;
    opacity: 1;
}

.input-field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-color: var(--teal);
    opacity: 1;
}

.input-field:required,
.input-field:invalid {
    box-shadow: none;
}
