.component-modal-button-close {
    background: none;
    border: none;
    color: #8899A6;
    font-size: 20px;
    transition: color 0.3s, transform 0.05s;
    display: flex;
    align-items: flex-end;
    z-index: 10;
    cursor: pointer;
}

.component-modal-button-close::before {
    content: '\2716';
}

.component-modal-button-close:hover {
    color: #D34400;
}
