
@import url(https://fonts.googleapis.com/css?family=Lato);

nav {
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 3%;
}

.navbar-links {
  display: flex;  
  justify-content: space-evenly;
  width: 15%;
  height: 100%
}

.navbar-logo {
  justify-content: left;
  font-size: 2.7rem;
}

.navbar-logo a {
  color: rgb(0, 0, 0) !important;
  text-decoration: none;
}
  
.navbar-link a {
  color: rgb(0, 0, 0) !important;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.navbar-link:hover a {
    text-decoration: underline;
}

.empty {
  flex: 1;
}