
@import url(https://fonts.googleapis.com/css?family=Lato);

/* nav {
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 3%;
} */

  
/* .navbar-link a {
  color: rgb(0, 0, 0) !important;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.navbar-link:hover a {
    text-decoration: underline;
}
 */

 /* .empty {
  flex: 1;
} */
/* 


.navbar-links {
  display: flex;  
  justify-content: space-evenly;
  width: 15%;
  height: 100%
} */

.logo span { color: var(--accent-green); margin-left: 5px; } /* Accentuation visuelle */


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 8%;
    max-width: 1400px;
    margin: 0 auto;
}


.navbar-logo {
  justify-content: left;
  font-weight: 800;
  font-size: 1.4rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--ink);
}

.navbar-logo a {
  color: rgb(0, 0, 0) !important;
  text-decoration: none;
}

.navbar-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.navbar-link a{
    font-weight: 600;
    font-size: 1rem;
    color: var(--ink);
    text-decoration: none;
    opacity: 0.6;
    transition: 0.3s;
    text-transform: uppercase;
}
.navbar-link:hover a{ text-decoration: none; opacity: 1; }