nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo h1 {
  justify-content: left;
  font-weight: 800;
  font-size: 1.4rem;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.navbar-logo a {
  color: black !important;
  text-decoration: none;
}

.navbar-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.navbar-link a{
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    opacity: 0.6;
    transition: 0.3s;
    text-transform: uppercase;
}

.navbar-link:hover a{ text-decoration: none; opacity: 1; }

@media (max-width: 1720px) {
    .navbar-logo h1 {
        font-size: 1rem;
    }

    .navbar-link a {
        font-size: 0.8rem;
    }
}

@media (max-width: 1280px) {
    .navbar-logo h1 {
        font-size: 1rem;
    }

    .navbar-link a {
        font-size: 0.8rem;
    }
}

@media (max-width: 1024px) {
    .navbar-logo h1 {
        font-size: 1rem;
        gap: 5px;
      }

    .navbar-links {
        gap: 15px;
    }
}

@media (max-width: 768px) {
    .navbar-logo h1 {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 5px;
      }

    .navbar-links {
        flex-direction: column;
    }
}

@media (max-width: 900px) {
    .navbar-logo h1 {
        font-size: 1rem;
        letter-spacing: 1px;
    }
    .navbar-links {
        gap: 5px;
    }
}

@media (max-width: 600px) {
    .navbar-logo h1 {
        font-size: 0.8rem;
        letter-spacing: 0.5px;
    }
    .navbar-links {
        gap: 5px;
    }
    .navbar-link a {
        font-size: 0.8rem;
    }
}