
@import url(https://fonts.googleapis.com/css?family=Lato);

nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #37474F;
  height: 60px;
  padding: 0 20px;
  margin-bottom: 1%;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  height: 100%
}

.navbar-link {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.3s;
  height: 100%;
}

.navbar-link a {
  color: white !important;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
  height: 100%; /* Ensure the link takes the full height */
  width: 100%;
  display: flex; /* Use flex to center text vertically */
  justify-content: center;
  align-items: center;
}

.navbar-link:hover{
  background-color: #FF6F61; /* Change to any color of choice */
}

.navbar-link:hover a {
  color: white; /* Ensure text color changes on hover */
}

.navbar-link:active {
  background-color: #FF6F61; /* Active state color */
}

.navbar-link a:active {
  color: white; /* Ensure active state text color */
}

.empty {
  flex: 1;
}