.component-quizz-app {
    margin-bottom: 1%;
    gap: 10px;
}

.component-quizz-app .content {
    flex-grow: 1;
    min-height: 90dvh;
}

@media (max-width: 1920px) {
    .component-quizz-app .content {
        min-height: 1vh;
    }
}

.component-quizz-demo {
    transition: opacity 0.3s ease-in-out;
}

.quizz-wrapper {
    transition: opacity 0.3s ease-in-out;
}

.quizz-wrapper.fade-out {
    opacity: 0;
}

.quizz-wrapper.fade-in {
    opacity: 1;
}
